.grid{
    top:100px;
    position: absolute;
    display:flex;
    justify-content:center;
align-items: center;
align-content: center;
left: 40%;

}
.block{
    background-color:darkblue;
    border:solid 1px;
    color:white;
    
    height:50px;
    width: 50px;
    transition:2s
}