.footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 50px;
  background-color: white;
  color: #4d4d4d;
  font-size: 24px;
  padding: 14px 20px;
  margin: 0.5px;
  border: 2px #e1e1e1;
}
.button {
  background-color: white;
  color: #777777;
  font-size: 14px;
  border: 1px;
  border-color: rgba(175, 47, 47, 0.2);
}
.span {
  columns: #777777;
  font-size: 14px;
}
