.circle{
    background-color:#fff;
    border:2px solid black;    
    height:150px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
   width:150px;
    display: flex;
    align-items: center;
    justify-content: center
    
}
.Stopwatch{
    display:flex;
   align-items: center;
    flex-direction: column;
}